<h1>
	T<span>h</span>e <span>B</span>e<span>e</span><%= image_tag("bee_logo.png") %>
</h1>
<p>Your online shop for all things warm and snuggly.</p>
<div class="container">
	<h4>Take a look at what we have:</h4>
	<%= image_tag("woolen_hat.jpg", class: "img-responsive") %>
	<p>A lovely woolen hat</p>
</div>