.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/raty.eot");
  src: url("fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("fonts/raty.svg#raty") format("svg");
  src: url("fonts/raty.ttf") format("truetype");
  src: url("fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
/* line 5, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/products.scss */
th {
  padding-right: 10px;
}

/* line 9, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/products.scss */
.container {
  margin-top: 50px;
}

/* line 15, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/products.scss */
.product-image {
  border: 1px solid black;
  border-radius: 4px;
  width: 25%;
  display: inline-block;
  float: left;
  margin-bottom: 30px;
}

/* line 24, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/products.scss */
.product-info {
  width: 75%;
  display: inline-block;
  float: left;
  padding-left: 20px;
}

/* line 31, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/products.scss */
.new-review {
  clear: both;
}

/* line 35, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/products.scss */
.product-reviews,
.product-options {
  clear: both;
}

/* line 40, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/products.scss */
.product-reviews {
  margin-bottom: 70px;
  position: relative;
  top: 30px;
}

/* line 49, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/products.scss */
.product-list-item {
  margin-bottom: 20px;
}

/* line 53, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/products.scss */
.product-list-image {
  display: inline-block;
  width: 120px;
  height: 120px;
  float: left;
}

/* line 60, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/products.scss */
.product-list-info {
  display: inline-block;
  float: right;
  width: 85%;
}

@media only screen and (max-width: 1000px) {
  /* line 67, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/products.scss */
  .product-list-info {
    width: 75%;
  }
}
@media only screen and (max-width: 520px) {
  /* line 73, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/products.scss */
  .product-list-info {
    width: 65%;
  }
}
@media only screen and (max-width: 400px) {
  /* line 79, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/products.scss */
  .product-list-info {
    width: 55%;
  }
}
/* line 84, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/products.scss */
.product-list-name {
  margin-top: 0;
}
/* line 1, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 25, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 32, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 37, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 41, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 47, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 66, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 72, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 6, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
body {
  background-color: #F6F7F7;
}

/* line 11, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
.nav > li > a:hover {
  background-color: #080402;
}

/* line 15, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
nav {
  background-color: #F4CD25;
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
/* line 23, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
nav .navbar-toggle {
  border: 1px solid #080402;
}
/* line 27, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
nav .navbar-toggle:hover {
  background-color: #080402;
}
/* line 29, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
nav .navbar-toggle:hover .icon-bar {
  background-color: #F4CD25;
}
/* line 34, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
nav .icon-bar {
  background-color: #080402;
}
/* line 38, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
nav a#logo {
  float: left;
  margin: 5px 15px;
}
/* line 43, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
nav ul {
  margin: 0;
  padding-right: 30px;
  float: right;
}
/* line 49, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
nav #nav-form {
  display: inline-block;
  margin-top: 13px;
  margin-right: 10px;
  float: left;
}
/* line 54, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
nav #nav-form #q {
  height: 25px;
}
/* line 57, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
nav #nav-form .btn {
  height: 24px;
  padding: 0 12px;
  background-color: #080402;
  color: #F4CD25;
}
/* line 65, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
nav li {
  display: inline;
  position: relative;
}
/* line 69, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
nav li a {
  text-transform: uppercase;
  display: inline-block;
  min-width: 90px;
  padding: 15px 10px;
  text-align: center;
  color: #080402;
}
/* line 79, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
nav li a:hover {
  background-color: #080402;
  color: #F4CD25;
  text-decoration: none;
}

/* line 88, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Baloo', cursive;
}

/* line 96, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
h1 {
  padding-top: 0;
  font-size: 45px;
  color: #080402;
}

/* line 104, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
h1 span {
  color: #F4CD25;
}

/* line 110, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
.featured {
  border: 3px solid #F4CD25;
  border-radius: 10px;
  display: block;
  overflow: auto;
  margin: 40px 0;
  padding: 20px;
  position: relative;
}

/* line 120, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
.featured-heading {
  position: relative;
  margin-top: 20px;
}
/* line 123, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
.featured-heading h3 {
  position: absolute;
  bottom: -50px;
  left: 20px;
  background-color: #F4CD25;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1000;
}

/* line 134, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
.carousel-control {
  top: unset;
  bottom: 25px;
  left: -50px;
}

/* line 141, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
.carousel-control.right {
  right: -50px;
}

/* line 145, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
.featured-title {
  margin-top: 20px;
  font-size: 22px;
}

/* line 150, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
.featured-image {
  border: 1px solid black;
  border-radius: 4px;
  float: left;
  display: inline-block;
  width: 35%;
}

/* line 158, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
.featured-info {
  float: right;
  display: inline-block;
  width: 60%;
}

/* line 164, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
.reviews {
  margin: 5px 0;
  overflow: auto;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

/* line 172, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
.review {
  display: block;
  clear: both;
  margin-bottom: 0;
}

/* line 178, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
.review-user {
  clear: both;
  display: block;
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* line 186, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
.featured-button {
  margin-top: 20px;
}

@media only screen and (max-width: 737px) {
  /* line 191, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
  .featured-title {
    margin: 20px 10%;
  }

  /* line 195, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
  .featured-image {
    float: none;
    width: 60%;
    margin: 0 20%;
  }

  /* line 201, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
  .featured-info {
    float: none;
    width: 80%;
    margin: 0 10%;
  }
}
/* line 211, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
.thanks {
  margin-top: 30px;
}

/* line 217, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
footer {
  height: 41px;
  border-top: 1px solid darkgrey;
  background-color: lightgrey;
}

/* line 223, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
#copyright {
  display: inline-block;
  margin: 10px 5px;
  height: 20px;
  float: right;
}

/* line 230, /Users/rikkebie/myPrograms/theBee/app/assets/stylesheets/static_pages.scss */
#copyright p {
  margin-bottom: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * @import "bootstrap";


 */
