<div class="panel panel-default thanks">
  <div class="panel-body">
  	<h2>Payment Successful</h2>
    <p>We have been notified of your purchase, you should receive a confirmation email shortly.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
<%= link_to 'Back', product_path(@product.id) %>