// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th{
	padding-right: 10px;
}

.container {
	margin-top: 50px;
}

// PRODUCT PAGE

.product-image {
	border: 1px solid black;
	border-radius: 4px;
	width: 25%;
	display: inline-block;
	float: left;
	margin-bottom: 30px;
}

.product-info {
	width: 75%;
	display: inline-block;
	float: left;
	padding-left: 20px;
}

.new-review {
	clear: both;
}

.product-reviews,
.product-options {
	clear: both;
}

.product-reviews{
	margin-bottom: 70px;
	position: relative;
	top: 30px;
}


// PRODUCT LIST

.product-list-item {
	margin-bottom: 20px;
}

.product-list-image {
	display: inline-block;
	width: 120px;
	height: 120px;
	float: left;
}

.product-list-info {
	display: inline-block;
	float: right;
	width: 85%;
}

@media only screen and (max-width: 1000px){
	.product-list-info{
		width: 75%;
	}
}

@media only screen and (max-width: 520px){
	.product-list-info{
		width: 65%;
	}
}

@media only screen and (max-width: 400px){
	.product-list-info{
		width: 55%;
	}
}

.product-list-name {
	margin-top: 0;
}