// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
	background-color: #F6F7F7;
}

// NAVIGATION
.nav>li>a:hover{
	background-color: #080402;
}

nav{
	background-color: #F4CD25;
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;

	.navbar-toggle{
		border: 1px solid #080402;
	}

	.navbar-toggle:hover{
		background-color: #080402;
		.icon-bar{
			background-color: #F4CD25;
		}
	}

	.icon-bar{
		background-color: #080402;
	}

	a#logo {
		float: left;
		margin: 5px 15px;
	}

	ul{
		margin: 0;
		padding-right: 30px;
		float: right;
	}
	li{
		display: inline;
		position: relative;

		a{
			text-transform: uppercase;
			display: inline-block;
			width: 90px;
			padding: 15px 10px;
			text-align: center;
			//border-radius: 10px 10px 0 0;
			color: #080402;
			
		}
		a:hover{
			background-color: #080402;
			color: #F4CD25;
			text-decoration: none;
		}
	}
}

// MAIN
h1,
h2,
h3,
h4,
h5{
	font-family: 'Baloo', cursive;
}

h1 {
	padding-top: 30px;
	
	font-size: 45px;
	color: #080402;

}

h1 span{
	color: #F4CD25;
}


//LANDING PAGE
.featured {
	border: 3px solid #F4CD25;
	border-radius: 10px;
	display: block;
	overflow: auto;
	margin: 40px 0;
	padding: 20px;
	position: relative;
}

.featured-heading {
	position: relative;
	margin-top: 20px;
	h3 {
		position: absolute;
		bottom: -50px;
		left: 20px;
		background-color: #F4CD25;
		padding: 5px 10px;
		border-radius: 5px;
		z-index: 1000;
	}
}

.carousel-control {
	top: unset;
	bottom: 25px;
	left: -50px;
	
}

.carousel-control.right {
	right: -50px;
}

.featured-title {
	margin-top: 20px;
	font-size: 22px;
}

.featured-image {
	border: 1px solid black;
	border-radius: 4px;
	float: left;
	display: inline-block;
	width: 35%;
}

.featured-info {
	float: right;
	display: inline-block;
	width: 60%;
}

.reviews {
	margin: 5px 0;
	overflow: auto;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
}

.review {
	display: block;
	clear: both;
	margin-bottom: 0;
}

.review-user {
	clear: both;
	display: block;
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
}

.featured-button {
	margin-top: 20px;
}

@media only screen and (max-width: 737px){
	.featured-title{
		margin: 20px 10%;
	}

	.featured-image {
		float: none;
		width: 60%;
		margin: 0 20%;
	}

	.featured-info{
		float: none;
		width: 80%;
		margin: 0 10%;
	}
}



//FOOTER
footer {
	height: 41px;
	border-top: 1px solid darkgrey;
	background-color: lightgrey; 
}

#copyright {
	display: inline-block;
	margin: 10px 5px;
	height: 20px;
	float: right;
}

#copyright p {
	margin-bottom: 0;
}