// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
	background-color: #F6F7F7;
}

// NAVIGATION
nav{
	background-color: #F4CD25;
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;

	a#logo {
		float: left;
		margin: 5px 15px;
	}

	ul{
		margin: 0;
		padding-right: 30px;
		float: right;
	}
	li{
		display: inline;
		position: relative;

		a{
			text-transform: uppercase;
			display: inline-block;
			width: 90px;
			padding: 15px 10px;
			text-align: center;
			//border-radius: 10px 10px 0 0;
			color: #080402
			
		}
		a:hover{
			background-color: #080402;
			color: #F4CD25;
			text-decoration: none;
		}
	}
}

// MAIN
h1 {
	margin-top: 50px;
	padding-top: 30px;
	font-family: 'Baloo', cursive;
	font-size: 45px;
	color: #080402;

}

h1 span{
	color: #F4CD25;
}

//FOOTER
footer{
	position: relative;
	bottom: 0;
	left: 0;
}