<div class="product-reviews">
	<h3>Reviews</h3>
	<p>Haven't quite made up your mind? Here's what some helpful people had to say about this item:</p>
	<div class="reviews">
		<%= render partial: "comments/comment", collection: @comments %>			
	</div>
	<%= will_paginate @comments %>
</div>